.filters {
    -fx-background-color: rgba(70, 94, 255, 1);
    -fx-background-radius: 10px;
    -fx-padding: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.15), 10, 0, 2, 4);
}

.title-filter {
    -fx-text-fill: white;
    -fx-font-family: "Poppins", "Segoe UI", sans-serif;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.label-filter {
    -fx-text-fill: white;
    -fx-font-family: "Poppins", "Segoe UI", sans-serif;
    -fx-font-size: 14px;
}

.field-filter {
    -fx-background-color: #F8F9FA;
    -fx-background-radius: 8px;
    -fx-padding: 12px 15px;
    -fx-font-family: "Poppins", "Segoe UI", sans-serif;
    -fx-font-size: 16px;
    -fx-text-fill: #333333;
    -fx-prompt-text-fill: rgba(160, 150, 140, 0.7);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 5, 0, 0, 3);
    -fx-outline: none;
}