.button {
    -fx-background-color: rgba(70, 94, 255, 1.0);

    -fx-text-fill: white;

    -fx-font-family: "Poppins";
    -fx-font-size: 16px;
    -fx-font-weight: bold;

    -fx-background-radius: 8px;
    -fx-padding: 10px 20px;

    -fx-cursor: hand;
}

.button-red {
    -fx-background-color: #f32828;

    -fx-text-fill: white;

    -fx-font-family: "Poppins";
    -fx-font-size: 16px;
    -fx-font-weight: bold;

    -fx-background-radius: 8px;
    -fx-padding: 10px 20px;

    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: rgba(50, 70, 220, 1.0);
}

.button:pressed {
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}

.yellow-label {
    -fx-background-color: #FFCD00;
    -fx-background-radius: 9px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 2);
}

.blue-text {
    -fx-text-fill: #465EFF;
    -fx-font-family: "Poppins";
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.input {
    -fx-background-color: white;
    -fx-background-radius: 12px;
    -fx-border-color: #465EFF;
    -fx-border-radius: 12px;
    -fx-border-width: 1.5px;
    -fx-pref-height: 50px;
    -fx-padding: 0 15px;
    -fx-font-family: "Poppins";
    -fx-font-size: 16px;
}

.input:focused {
    -fx-background-color: #F0F2FF;
    -fx-border-width: 2.5px;
}

.textarea {
    -fx-pref-height: 200px;
    -fx-padding: 10px;
}

.textarea .viewport,
.textarea .content {
    -fx-background-color: transparent;
}

.combobox {
    -fx-background-color: white;
    -fx-background-radius: 12px;
    -fx-border-color: #465EFF;
    -fx-border-radius: 12px 12px 0px 0px;
    -fx-border-width: 1.5px;
    -fx-padding: 0;
    -fx-pref-height: 50px;
    -fx-min-height: 50px;
    -fx-max-height: 50px;
}

.combobox > .text-field {
    -fx-background-color: transparent;
    -fx-font-family: "Poppins";
    -fx-font-size: 16px;
    -fx-text-fill: #333333;
    -fx-padding: 0 10px;
}

.combobox > .arrow-button {
    -fx-background-color: transparent;
    -fx-padding: 0 15px 0 10px;
}

.combobox > .arrow-button > .arrow {
    -fx-background-color: #465EFF;
}

.combobox:contains-focus {
    -fx-background-color: #F0F2FF;
    -fx-border-width: 2.5px;
}

.combobox .combo-box-popup .list-view {
    -fx-background-color: white;
    -fx-border-color: #465EFF;
    -fx-border-width: 1.5px;
    -fx-border-radius: 0px 0px 8px 8px;
    -fx-background-radius: 0px 0px 8px 8px;
    -fx-translate-y: 2px;
}

.combobox .combo-box-popup .list-cell {
    -fx-padding: 8px 10px;
    -fx-font-family: "Poppins";
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-background-color: transparent;
}

.combobox .combo-box-popup .list-cell:filled:hover,
.combobox .combo-box-popup .list-cell:filled:selected {
    -fx-background-color: #F0F2FF;
    -fx-text-fill: #465EFF;
    -fx-cursor: hand;
}